/* ==========================================================================
   Html and Body Overwrite
   ========================================================================== */
   html {
    height: 100%;
  }
  
  body {
    height: 100%;
    background-color: white;
    overflow: hidden;
  }
  
  
  
  /* ==========================================================================
     Navigation
     ========================================================================== */
  nav {
    width: 80px;
    height: 100%;
    position: fixed;
    background: #0e1f2b;
    z-index: 2;
  }
  
  #nav:target {
    width: 150px;
    transition-duration: 0.3s;
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -ms-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: width 0.3s ease;
  }
  
  nav ul {
    list-style: none;
    padding: 0 0 0 0;
  }
  
  nav .icon {
    width: 45px;
    height: 40px;
    display: block;
    margin: 0 auto -15px auto;
    background: #f8f8f8;
    border-radius: 5px;
    cursor: pointer;
    line-height: 40px;
    text-align: center;
    font-size: 2em;
   }
   nav .meicon {
    width: 60px;
    height: 80px;
    display: block;
    margin: 0 auto -15px auto;
    background: #f8f8f8;
    border-radius: 5px;
    cursor: pointer;
    line-height: 40px;
    text-align: center;
    font-size: 2em;
   } 
  
  nav .tooltips {
    width: 85px;
    top: -23px;
    left: 80px;
    white-space: nowrap;
    visibility: hidden;
    font-family: 'Bitter', sans-serif;
    text-align: center;
  }
  
  nav a {
    text-decoration: none; 
  }
  
  
  
  
  
  /* =================================
    箭頭框屬性！！！魔法就在這裡發生！！！ :)
     ================================= */
  .arrow_box {
    height: 30px;
    width: auto;
    position: relative;
    top: 0px;
    left: 95px;
    color: white;
    text-align: center;
    line-height: 30px;
    background: #0e1f2b;
    border-radius: 8px;
    border: 4px solid #c3c3c3;
    display: block;
    padding: 0 10px 0 10px;
  }
  
  .arrow_box::after, .arrow_box::before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  
  .arrow_box::after {
    border-color: rgba(117, 142, 161, 0);
    border-right-color: #0e1f2b;
    border-width: 8px;
    margin-top: -8px;
  }
  .arrow_box::before {
    border-color: rgba(194, 225, 245, 0);
    border-right-color: #c3c3c3;
    border-width: 14px;
    margin-top: -14px;
  } 
  
  
  
  
  
  
  /* =================================
     單獨的圖標屬性
     ================================= */
  nav span#workspace {
    background-image: url('../img/category.png');
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  #workspace:hover + #workspace_tooltips {
    visibility: visible;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -moz-transform: translateX(14px);
    -webkit-transform: translateX(14px);
    -o-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
  }
  
  nav span#statistics {
    background-image: url('../img/statistics.png');
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  #statistics:hover + #statistics_tooltips {
    visibility: visible;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -moz-transform: translateX(14px);
    -webkit-transform: translateX(14px);
    -o-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
  }
  
  nav span#visualize {
    background-image: url('../img/graphic-design.png');
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  
  #visualize:hover + #visualize_tooltips {
    visibility: visible;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -moz-transform: translateX(14px);
    -webkit-transform: translateX(14px);
    -o-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
  }
  
  nav span#config {
    background-image: url('../img/config.png');
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  
  #config:hover + #config_tooltips {
    visibility: visible;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -moz-transform: translateX(14px);
    -webkit-transform: translateX(14px);
    -o-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
  }
  
  nav span#expand {
    margin-top: 150px;
    background-image: url('../img/sign-out.png');
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  
  #expand:hover + #expand_tooltips {
    visibility: visible;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -moz-transform: translateX(14px);
    -webkit-transform: translateX(14px);
    -o-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
  }
  
  nav span#contract {
    background-image: url('../img/sign-in.png');
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  #contract:hover + #contract_tooltips {
    visibility: visible;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -moz-transform: translateX(14px);
    -webkit-transform: translateX(14px);
    -o-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
  }
  
  /* ==========================================================================
     工作空間
     ========================================================================== */
  div#workspace {
    width: 100%;
    height: 100%;
    padding: 0 0 0 80px;
     background: #2b3843;
  }
  
  
  
  /* ==========================================================================
     工作區標題
     ========================================================================== */
  div#title {
    max-width: 100%;
    height: 67.5px;
    color: #f8f8f8;
    font-family: 'Bitter', sans-serif;
    padding : 30px 0 0 36px;
    font-size: 1.2em;
    font-weight: 400;
  }
  
  
  
  /* ==========================================================================
     工作區內容
     ========================================================================== */
  div#content {
    width: 70%;
    margin: 0 0 0 0;
    float:left;
    z-index: 0;
    color: #f8f8f8;
  }
  
  div#welcome {
    width: 125%;
    margin: 0 0 0 70px;
    padding: 20px;
    background: #f8f8f8;
    border-radius: 5px;
  }
  
  div#welcome h1 {
    color: #0e1f2b;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 0 0 66;
  }
  
  div#welcome p {
    color: #555555;
    font-size: 0.85em;
  }
  
  section.help {
    width: 40%;
    margin: 0 8% 0 0;
    display: inline-block;
  }
  
  section.help h2 {
    color: #0e1f2b;
    font-size: 1.2em;
  }
  
  section.help p {
    color: #0e1f2b;
    font-size: 1.0em;
  }
  
  
  
  /* ==========================================================================
     工作區側邊欄
     ========================================================================== */
  div#sidebar {
    width: 30%;
    height: 100%;
    margin: 67.5px 0 0 0;
    float: left;
    right: auto;
    z-index: 0;
  }