{% load static %}
<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/404.css" %}">    
    <script type="text/javascript" src="{% static "js/404.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
    <title>Error 404</title>
  </head>
  <body>
      <h2 id="txt">  
        <span>Sorry,<br>您所尋找的頁面不存在！</span>
      </h2>
      <div id="for">
      <ul id= "nav">
        <li><a href="#">返回首頁</a></li>
      </ul>
    </div>
</html>